.body {
  background-color: white;
}

.title {
  border: 1px solid black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
}

.menu {
  width: 100%;
  background-color: white;
  /* border: 1px solid black; */
  text-align: center;
}

.spinner {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.myselect {
  height: 30px;
  /* padding-right: 0px; */
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form {
  /* border: 1px solid black; */
}

.btn {
  display: block;
  margin: 20px auto;
  width: 20%;
  background-color: #5dbcd2;
  border-radius: 3px;
  border: 1px solid;
  height: 45px;
  margin-bottom: 2px;
  font-size: 20px;
}

.btn-header {
  display: block;
  margin: 20px auto;
  width: 20%;
  background-color: lightcoral;
  border-radius: 3px;
  border: 1px solid;
  height: 45px;
  margin-bottom: 2px;
  font-size: 20px;
}

.div-title {
  padding-right: 20px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.paragraph {
  /* text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.li-value {
  padding-left: 0px;
  margin: 0;
  margin-bottom: 2px;
}
